<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ext</key>
		<string>BooneStreetCamera/105West</string>
		<key>name</key>
		<string>HWY 105 - Southwest</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>BooneStreetCamera/105East</string>
		<key>name</key>
		<string>HWY 105 - Northeast</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>BooneStreetCamera/321North</string>
		<key>name</key>
		<string>HWY 321 - Northwest</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>BooneStreetCamera/321South</string>
		<key>name</key>
		<string>HWY 321 - Southeast</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>LinvilleRidgeClubCam</string>
		<key>name</key>
		<string>Linville Ridge Club</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>LinvilleRidgeBelvedereCam</string>
		<key>name</key>
		<string>Linville Ridge Belvedere</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>TurkeyKnobCamera</string>
		<key>name</key>
		<string>Turkey Knob</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>CanyonsCam</string>
		<key>name</key>
		<string>Canyons</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>LaurelRidgeCam</string>
		<key>name</key>
		<string>Laurel Ridge</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>WaynesvilleStreetCam</string>
		<key>name</key>
		<string>Waynesville Street View</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>WaynesvilleMountainCam</string>
		<key>name</key>
		<string>Waynesville Mountain View</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>ElkRiverRunway</string>
		<key>name</key>
		<string>Elk River Runway</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>ElkRiverBeechCam</string>
		<key>name</key>
		<string>Elk River Beech Mountain</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>WolfLaurelMountainViewCam</string>
		<key>name</key>
		<string>Wolf Laurel Mountain View</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>WolfLaurelClubCam</string>
		<key>name</key>
		<string>Wolf Laurel Country Club View</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>TouristsCam</string>
		<key>name</key>
		<string>Asheville Tourists</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>OwenHighSchoolCam</string>
		<key>name</key>
		<string>Owen High School</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>CrestwoodCam</string>
		<key>name</key>
		<string>Crestwood</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>MountJeffersonCam</string>
		<key>name</key>
		<string>Mount Jefferson</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>BooneGolfClubCam</string>
		<key>name</key>
		<string>Boone Golf Club</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>RoaringGapClubCam</string>
		<key>name</key>
		<string>Roaring Gap</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>CritchervilleCam</string>
		<key>name</key>
		<string>Critcherville</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>AppSkiMtnCam</string>
		<key>name</key>
		<string>App Ski Mtn</string>
	</dict>
	<dict>
		<key>ext</key>
		<string>GreyBeardCam</string>
		<key>name</key>
		<string>Greybeard Realty Cam</string>
	</dict>
</array>
</plist>
